<section
class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
        <h2 class="text-171A20 pt-40 text-[40px] font-medium">Accesorios</h2>
      </header>
  
        <footer class="grid justify-center grid-flow-col items-end flex-grow flex-nowrap gap-6 pb-20">
            <a class="bg-white backdrop-blur-sm px-11 py-2.5 rounded-[0.25rem] text-black text-sm min-w-[250px] font-medium" href="#">Comprar ahora</a>
        </footer>
        <div class="pb-6 flow">
            <a href="#" class="text-white text-xs font-normal px-3">Tesla © 2023</a>
            <a href="#" class="text-white text-xs font-normal px-3">Privacidad y legal</a>
            <a href="#" class="text-white text-xs font-normal px-3">Contacto</a>
            <a href="#" class="text-white text-xs font-normal px-3">Noticias</a>
            <a href="#" class="text-white text-xs font-normal px-3">Seguir informado</a>
            <a href="#" class="text-white text-xs font-normal px-3">Localización de tiendas</a>
        </div>
  </div>

<div class="absolute top-0 bottom-0 w-full h-full z-10">
<img class="object-center object-cover h-full w-full" src="/charger.jpg"></img>
</div>
</section>